<!DOCTYPE html>
<html lang="es">

<head>
    <title>Hanzoft - Mascota</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Boostrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Bundle de Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-4">Mostrar Doctor</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="http://localhost:3000/app/doctores/listar.html" class="btn btn-outline-success mb-4"> &lt;
                    Atras</a>
                <a id="botonParaModificar" href="http://localhost:3000/app/doctores/actualizar.html"
                    class="btn btn-outline-primary mb-4">Modificar</a>

                <table class="table table-striped table-hover table-bordered">
                    <thead class="text-center">
                        <tr>
                            <td><b>Campo</b></td>
                            <td><b>Valor</b></td>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>id</td>
                            <td id="id"></td>
                        </tr>
                        <tr>
                            <td>Nombre</td>
                            <td id="nombre"></td>
                        </tr>
                        <tr>
                            <td>Especialidad</td>
                            <td id="especialidad"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2 style="display: none;">El Id es requerido</h2>
    <script>
        const parametrosGet = new URLSearchParams(window.location.search);
        const id = parametrosGet.get('id');

        if (id === null) {
            const error = document.querySelector('h2');
            error.style.removeProperty('display');
        } else {
            const rutaBase = 'http://localhost:3000/api';
            const ruta = `${rutaBase}/doctores/${id}`;
            const rutaModificar = `http://localhost:3000/app/doctores/actualizar.html?id=${id}`
            const botonModificacion = document.querySelector('#botonParaModificar');
            botonModificacion.setAttribute('href', rutaModificar);

            axios.get(ruta)
                .then(function (respuesta) {
                    const tabla = document.querySelector('table tbody');
                    const doctor = respuesta.data;

                    const id = tabla.querySelector('#id')
                    const nombre = tabla.querySelector('#nombre')
                    const especialidad = tabla.querySelector('#especialidad')

                    id.textContent = doctor.id;
                    nombre.textContent = doctor.nombre;
                    especialidad.textContent = doctor.especialidad
                });
        }
    </script>
</body>

</html>