<html>
    <head>
        <title>Hanzoft - Mascota</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>Mostrar Doctor</h1>
        <table>
            <thead>
               <tr>
                    <td><b>Campo</b></td>
                    <td><b>Valor</b></td>
               </tr> 
            </thead>
            <tbody>
                <tr>
                    <td>id</td>
                    <td id="id"></td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td id="nombre"></td>
                </tr>
                <tr>
                    <td>Especialidad</td>
                    <td id="especialidad"></td>
                </tr>
            </tbody>
        </table>
        <h2 style="display: none;">El Id es requerido</h2>
        <script>
            const parametrosGet = new URLSearchParams(window.location.search);
            const id = parametrosGet.get('id');

            if (id === null) {
                const error = document.querySelector('h2');
                error.style.removeProperty('display');
            } else {
                const rutaBase = 'http://localhost:3000/api';
                const ruta = `${rutaBase}/doctores/${id}`;

                axios.get(ruta)
                    .then(function (respuesta) {
                        const tabla = document.querySelector('table tbody');
                        const doctor = respuesta.data;

                        const id = tabla.querySelector('#id')
                        const nombre = tabla.querySelector('#nombre')
                        const especialidad = tabla.querySelector('#especialidad')

                        id.textContent = doctor.id;
                        nombre.textContent = doctor.nombre;
                        especialidad.textContent = doctor.especialidad
                    });
            }
        </script>
    </body>
</html>
