<html>

<head>
    <title>Hanzoft - Modificar Mascota</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>Informacion de la mascota 🐾</h1>
    <form id="ModificarMascota">
        <label for="nombre"><strong> Nombre de la mascota : </strong></label>
        <input type="text" id="nombre" name="nombre" maxlength="30">
        <br>
        <br>
        <label><strong>Especie: </strong></label>
        <select id="especie" name="especie" required>
            <!-- Cada opción tiene un número como "value" que representa el ID de la especialidad en la base de datos -->
            <option value="gato">Gato</option>
            <option value="perro">Perro</option>
            <option value="conejo">Conejo</option>
            <option value="ave">Ave</option>
            <option value="raton">Raton</option>
            <option value="otro">Otro</option>
        </select>
        <br>
        <br>
        <label for="fecha"><strong>Fecha de nacimiento: </strong></label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" min="1999-01-01" max="2025-12-31" required>
        <br>
        <br>
        <label><strong>Tutor: </strong></label>
        <select id="nombre_tutor" name="nombre_tutor" required>
            <!-- Cada opción tiene un número como "value" que representa el ID de la especialidad en la base de datos -->
        </select>
        <!-- Botón que envía el formulario -->
        <!-- El div es como el contenedor -->
        <div>
            <br>
            <button type="submit"> Guardar Cambios 💾 </button>
        </div>
    </form>

    <!-- Aquí empieza el código JavaScript -->
    <script>
        const parametrosGet = new URLSearchParams(window.location.search);
        // Aca obtenemos el ID, para poder pasarlo 
        const id = parametrosGet.get('id');
        // Definimos la URL donde vamos a enviar los datos usando el método PUT
        const ruta = `http://localhost:3000/api/mascotas/${id}`;
        const rutaClientes = `http://localhost:3000/api/clientes/`;

        // Seleccionamos el formulario usando su ID (idMascota)
        // y los referenciamos a los Id que generamos en el html, para que se puedan comunicar
        //ref linea10
        const formulario = document.querySelector('#ModificarMascota');
        //ref linea12
        const nombreInput = formulario.querySelector('#nombre');
        //ref linea 16
        const especieSelector = formulario.querySelector('#especie');
        //ref linea 28
        const fechaCalendario = formulario.querySelector('#fecha_nacimiento');
        //ref linea 32
        const tutorSelector = formulario.querySelector('#nombre_tutor');

        //mi axios para poder traer los datos de mi cliente, ya que quiero mostrar el nombre
        //del tutor de mi mascota.
        axios.get(rutaClientes)
            .then(function (respuestaCliente) {
                //traigo los datos de mi cliente para poder organizarlos
                const clientes = respuestaCliente.data;
                //aca creo una variable en la que pasare los datos que 
                //necesito en mi html, en este caso el ID y el nombre del cliente
                //para que tengan relacion con la mascota
                //lo inicializo vacio porque abajo en el for lo voy a llenar
                let miHtml = '';
                console.log(clientes)
                //Este es el for en el cual voy a recorrer mi array de clientes y en el cual
                //solamente pasare el id y el nombre

                for (let i = 0; i < clientes.length; i++) {
                    const cliente = clientes[i];
                    //Aca envio o acomodo en mi variable let solo 2 atributos
                    //el id del cliente y el nombre
                    miHtml += '<option value="' + cliente.id + '">' + cliente.nombre + '</option>';
                }

                tutorSelector.innerHTML = miHtml;

            });

        axios.get(ruta)
            .then(function (respuesta) {
                const mascota = respuesta.data;
                //uso la nomenclatura para remplazar que propuse en mi base de datos  
                console.log("las mascotas", mascota)
                //  
                nombreInput.value = mascota.nombre;
                especieSelector.value = mascota.especie;
                //el slice se usa para traer una parte de mi cadena serian ejemplo 
                //12-23-2009 (10 caracteres de mi dato) 
                fechaCalendario.value = mascota.fecha_nacimiento.slice(0, 10);
                //aca debo relacionar el id de mi cliente (asi esta definido en mi BD)
                tutorSelector.value = mascota.clientes_id;
            });

        // Escuchamos el evento "submit", o sea, cuando el usuario hace clic en "Crear"
        //referencia linea 29
        formulario.addEventListener('submit', function (event) {
            // Esto evita que el formulario recargue la página al enviarse
            event.preventDefault();

            // Enviamos una solicitud PUT a la API, con los datos nuevos del formulario
            //recordemos que la ruta es la que referenciamos en la linea43
            axios.put(ruta, {
                // nombre nuevo del doctor
                nombre: nombreInput.value,
                // id de la nueva especialidad seleccionada
                especie: especieSelector.value,
                //Nueva fecha de nacimiento seleccionada
                fecha_nacimiento: fechaCalendario.value,
                //Nuevo tutor seleccionado
                clientes_id: Number(tutorSelector.value)
            })
                // Si la mascota se actualizo correctamente, mostramos un mensaje, este mensaje
                //es el que genere en mi API
                .then(function (respuesta) {
                    alert(respuesta.data.mensaje);
                    // También lo mostramos en consola, para validar si quedo bien
                    console.log(respuesta.data.mensaje);
                    //una vez el mensaje cargue la idea es que volvamos a la lista de doctores
                    //por lo que usamos una libreria que nos ayude con eso
                    //pasandole la url a la que vamos a volver
                    window.location.href = 'http://localhost:3000/app/mascotas/listar.html'

                })
                // Si hubo un error en la petición, es decir no se hizo bien el proceso
                // mostramos un mensaje de error, tanto en el navegador como en nuestra consola
                .catch(function (error) {
                    alert(error.response.data.error);
                    console.error(error);
                });
        });
    </script>
</body>

</html>