<!DOCTYPE html>
<html>
    <head>
        <title>Hanzoft - Mascotas</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col">
                    <h1 class="text-center mb-4">🐱 Listado de Mascotas 🐺</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="http://localhost:3000/app/mascotas/crear.html" class="btn btn-outline-success mb-4">
                        + Crear
                    </a>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <td><strong>ID</strong></td>
                            <td><strong>Nombre</strong></td>
                            <td><strong>Especie</strong></td>
                            <td><strong>Fecha de nacimiento</strong></td>
                            <td><strong>Cliente</strong></td>
                            <td></td>
                            <td></td>
                        </tr> 
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>

            const rutaBaseFront = `http://localhost:3000/app`;
            const ruta = `http://localhost:3000/api/mascotas`;
            const rutaModificar =`${rutaBaseFront}/mascotas/actualizar.html`;
                
            axios.get(ruta)
                .then(function (response) {
                    const mascotas = response.data;

                    const tabla = document.querySelector('table tbody');
                    let cuerpoHtml = '';

                    for (const mascota of mascotas) {
                        let filaHtml = '';
                        filaHtml = '<tr>';
                        filaHtml += '<td>' + mascota.id + '</td>'   
                        filaHtml += `<td><a href="${rutaBaseFront}/mascotas/consultar.html?id=${mascota.id}" class="text-decoration-none">${mascota.nombre}</a></td>`;
                        filaHtml += '<td>' + mascota.especie + '</td>'
                        filaHtml += '<td>' + mascota.fecha_nacimiento.slice(0,10) + '</td>'
                        filaHtml += '<td>' + mascota.cliente + '</td>'
                        filaHtml += `<td><a href="${rutaModificar}?id=${mascota.id}" class="btn btn-outline-primary">Modificar</a></td>`
                        filaHtml += `<td><button class="eliminar-mascota btn btn-outline-danger" data-id="${mascota.id}">Eliminar</button></td>`
                        filaHtml += '</tr>'
                        cuerpoHtml += filaHtml;
                    }

                    tabla.innerHTML = cuerpoHtml
                    // Aca declaro mi boton eliminar, para que me realice una consulta  me reciba
                    //la accion que estoy haciendo
                    const botonesEliminar = tabla.querySelectorAll('.eliminar-mascota');
                    //realizo un for each para poder recorrer la tabla 
                    botonesEliminar.forEach(function(botonEliminar){
                    //añado un evento click para que se ejecute:    
                        botonEliminar.addEventListener('click', function(){
                            //Hago referencia a la data que trabeje en la linea 30, que me trae la informacion
                            const mascotaId = botonEliminar.getAttribute('data-id')
                            //Hago referencia a la ruta de la linea 26, en donde obtender el id
                            //de la mascota a eliminar.
                            const rutaEliminar = ruta + '/' + mascotaId;

                            //Hare una pregunta de confirmacion en caso de que por error
                            //se haya indicado que se queria eliminar a la mascota

                            if(confirm('Esta seguro que desea eliminar esta mascota?')){
                                //llamo otra vez un ajax (axios) par que me ayude a gestionar
                                axios.delete(rutaEliminar).then(function(respuesta){
                                    alert(respuesta.data.mensaje);
                                    window.location.reload();
                                })
                            }

                        });



                    });

                
                });
        </script>
    </body>
</html>