<html>
    <head>
        <title>Hanzoft - Doctores</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>Listado de doctores</h1>
        <table>
            <thead>
               <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Especialidad</td>
                    <td></td>
                    <td></td>
               </tr> 
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <script>
            const rutaBase = 'http://localhost:3000/api';
            const rutaFront = 'http://localhost:3000/app';
            const ruta = `${rutaBase}/doctores`;
            const rutaModificar = `${rutaFront}/actualizarDoctor.html`;

            axios.get(ruta)
                .then(function (response) {
                    const doctores = response.data;

                    const tabla = document.querySelector('table tbody');
                    let cuerpoHtml = '';

                    for (const doctor of doctores) {
                        let filaHtml = '';
                        filaHtml = '<tr>'
                        filaHtml += '<td>' + doctor.id + '</td>'
                        filaHtml += '<td>' + doctor.doctor  + '</td>'
                        filaHtml += '<td>' + doctor.especialidad + '</td>'
                        filaHtml += `<td><a href="${rutaModificar}?id=${doctor.id}">Modificar</a></td>`
                        filaHtml += `<td><button class="eliminar-doctor" data-id="${doctor.id}">Eliminar</button></td>`
                        filaHtml += '</tr>'
                        cuerpoHtml += filaHtml;
                    }

                    tabla.innerHTML = cuerpoHtml

                    const botonesEliminar = tabla.querySelectorAll('.eliminar-doctor');
                    
                    botonesEliminar.forEach(function (botonEliminar){
                        botonEliminar.addEventListener('click', function () {
                            const doctorId = botonEliminar.getAttribute('data-id')
                            const rutaEliminar = ruta + '/' + doctorId;

                            if (confirm('Esta seguro que desea eliminar el doctor?')) {
                                axios.delete(rutaEliminar).then(function(respuesta) {
                                    alert(respuesta.data.mensaje);
                                    window.location.reload();
                                });
                            }
                        });
                    });
                });
        </script>
    </body>
</html>