<html>
    <head>
        <title>Hanzoft - Mascota</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>Mostrar Mascota</h1>
        <table>
            <thead>
               <tr>
                    <td><b>Campo</b></td>
                    <td><b>Valor</b></td>
               </tr> 
            </thead>
            <tbody>
                <tr>
                    <td>id</td>
                    <td id="id"></td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td id="nombre"></td>
                </tr>
                <tr>
                    <td>Especie</td>
                    <td id="especie"></td>
                </tr>
                <tr>
                    <td>Fecha de Nacimiento</td>
                    <td id="fecha_nacimiento"></td>
                </tr>
                <tr>
                    <td>Nombre del tutor</td>
                    <td id="nombre_tutor"></td>
                </tr>
            </tbody>
        </table>
        <h2 style="display: none;">El Id es requerido</h2>
        <script>
            const parametrosGet = new URLSearchParams(window.location.search);
            const id = parametrosGet.get('id');

            if (id === null) {
                const error = document.querySelector('h2');
                error.style.removeProperty('display');
            } else {
                const rutaBase = 'http://localhost:3000/api';
                const ruta = `${rutaBase}/mascotas/${id}`;

                axios.get(ruta)
                    .then(function (respuesta) {
                        const tabla = document.querySelector('table tbody');
                        const mascota = respuesta.data;

                        const id = tabla.querySelector('#id')
                        const nombre = tabla.querySelector('#nombre')
                        const especie = tabla.querySelector('#especie')
                        const fecha = tabla.querySelector('#fecha_nacimiento')
                        const tutor = tabla.querySelector('#nombre_tutor')

                        id.textContent = mascota.id;
                        nombre.textContent = mascota.nombre;
                        especie.textContent = mascota.especie
                        fecha.textContent = mascota.fecha_nacimiento;
                        tutor.textContent = mascota.tutor;
                    });
            }
        </script>
    </body>
</html>