<html>
    <head>
        <title>Hanzoft - Usuarios</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>👨🏿‍⚕️ Lista de Usuarios 👩🏿‍⚕️</h1>
        <table>
            <thead>
               <tr>
                    <td>ID</td>
                    <td>Nombres</td>
                    <td>Email</td>
                    <td>Rol</td>
                    <td></td>
                    <td></td>
               </tr> 
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <script>
            const ruta = `http://localhost:3000/api/usuarios`;
            const rutaModificar = `http://localhost:3000/app/usuarios/actualizar.html`

            axios.get(ruta)
                .then(function (response) {
                    const usuarios = response.data;

                    const tabla = document.querySelector('table tbody');
                    let cuerpoHtml = '';

                    for (const usuario of usuarios) {
                        let filaHtml = '';
                        filaHtmlL = '<tr>'
                        filaHtml += '<td>' + usuario.id + '</td>'
                        filaHtml += '<td>' + usuario.nombre + '</td>'
                        filaHtml += '<td>' + usuario.email + '</td>'
                        filaHtml += '<td>' + usuario.rol + '</td>'
                        filaHtml += `<td><a href="${rutaModificar}?id=${usuario.id}">Modificar</a></td>`
                        filaHtml += '</tr>'
                        cuerpoHtml += filaHtml;
                    }

                    tabla.innerHTML = cuerpoHtml



                });
        </script>
    </body>
</html>