<!DOCTYPE html>
<html lang="es">

<head>
    <!--nombre de mi cabecera-->
    <title>Hanzoft - Modificar Cita</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Boostrap CSS-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Bundle de Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Cargamos Axios desde una CDN (una red que distribuye archivos por internet) -->
    <!-- Axios es una librería que nos ayuda a hacer peticiones HTTP (como POST, GET) fácilmente desde JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-4">Información de la cita 🐾</h1>
            </div>
        </div>

        <div class="row">
            <form id="ModificarCita" class="col">
                <a href="http://localhost:3000/app/citas/listar.html" class="btn btn-outline-success mb-4">
                    &lt; Atras </a>
                <label for="nombre_mascota" class="form-label w-100 mb-2"><strong>Nombre de mascota: </strong>
                    <select id="nombre_mascota" name="nombre_mascota" class="form-select" required></select>
                    <!-- Tiene un id (nombre) para poder obtener su valor desde JavaScript -->
                </label>
                <label for="nombre_doctor" class="form-label w-100 mb-2">
                    <p><strong>Nombre del doctor: </strong></p>
                    <select id="nombre_doctor" name="nombre_doctor" class="form-select mb-3" required></select>
                </label>
                <label for="estado" class="form-label w-100 mb-2">
                    <p><strong>Estado de la cita:</strong></p>
                    <select id="estado" name="estado" class="form-select mb-3" required>
                        <option value="agendada">Agendada</option>
                        <option value="reprogramada">Reprogramada</option>
                        <option value="cancelada">Cancelada</option>
                        <option value="completada">Completada</option>
                    </select>
                </label>
                <label for="fecha" class="form-label w-100 mb-2"><strong>Fecha de cita: </strong>
                    <input type="date" id="fecha" name="fecha" class="form-control mb-3" min="1999-01-01"
                        max="2025-12-31" required>
                </label>
                <label for="motivo" class="form-label w-100 mb-2">
                    <p><strong>Motivo de la consulta: </strong></p>
                    <input type="text" id="motivo" name="motivo" class="form-control" required>
                    </input>
                </label>
                <label for="usuario" class="form-label w-100 mb-2">
                    <p><strong>Usuario que asigna la cita:</strong></p>
                    <select id="usuario" name="usuario" class="form-select mb-3" required></select>
                </label>
                <hr />
                <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
            </form>
        </div>
    </div>
    <!-- Aquí empieza el código JavaScript -->
    <script>
        const parametrosGet = new URLSearchParams(window.location.search);
        // Aca obtenemos el ID, para poder pasarlo 
        const id = parametrosGet.get('id');
        // Definimos la URL donde vamos a enviar los datos usando el método PUT
        const rutaCitas = `http://localhost:3000/api/citas/${id}`;
        const rutaMascotas = `http://localhost:3000/api/mascotas/`;
        const rutaDoctores = 'http://localhost:3000/api/doctores';
        const rutaUsuarios = 'http://localhost:3000/api/usuarios';

        // Seleccionamos el formulario usando su ID (idCita)
        // y los referenciamos a los Id que generamos en el html, para que se puedan comunicar
        //ref linea10
        const formulario = document.querySelector('#ModificarCita');
        const nombreMascota = formulario.querySelector('#nombre_mascota');
        const nombreDoctor = formulario.querySelector('#nombre_doctor');
        const estadoCita = formulario.querySelector('#estado');
        const fechaCita = formulario.querySelector('#fecha');
        const motivoCita = formulario.querySelector('#motivo');
        const usuarioCita = formulario.querySelector('#usuario');

        // Creo un arreglo donde voy a almacenar mis promesas.
        const promesas = [];

        const promesaMascotas = axios.get(rutaMascotas)
            .then(function (respuestaCliente) {
                //traigo los datos de mi cliente para poder organizarlos
                const mascotas = respuestaCliente.data;
                //aca creo una variable en la que pasare los datos que 
                //necesito en mi html, en este caso el ID y el nombre del cliente
                //para que tengan relacion con la mascota
                //lo inicializo vacio porque abajo en el for lo voy a llenar
                let miHtml = '';
                console.log('mascotas', mascotas)
                //Este es el for en el cual voy a recorrer mi array de clientes y en el cual
                //solamente pasare el id y el nombre

                for (let i = 0; i < mascotas.length; i++) {
                    const mascota = mascotas[i];
                    //Aca envio o acomodo en mi variable let solo 2 atributos
                    //el id del cliente y el nombre
                    miHtml += '<option value="' + mascota.id + '">' + mascota.nombre + '</option>';
                }

                nombreMascota.innerHTML = miHtml;
            });

        const promesaDoctores = axios.get(rutaDoctores)
            .then(function (respuestaDoctores) {
                //traigo los datos de mis mascotas para poder organizarlos
                const doctores = respuestaDoctores.data;
                //aca creo una variable en la que pasare los datos que 
                //necesito en mi html, en este caso el ID y el nombre de la mascota
                //para que tengan relacion con la cita
                //lo inicializo vacio porque abajo en el for lo voy a llenar
                let miHtml2 = '';
                console.log('doctores', doctores)
                //Este es el for en el cual voy a recorrer mi array de clientes y en el cual
                //solamente pasare el id y el nombre

                for (let i = 0; i < doctores.length; i++) {
                    const doctor = doctores[i];
                    //Aca envio o acomodo en mi variable let solo 2 atributos
                    //el id del cliente y el nombre
                    miHtml2 += '<option value="' + doctor.id + '">' + doctor.nombre + '</option>';
                }

                nombreDoctor.innerHTML = miHtml2;
            });

        const promesaUsuarios = axios.get(rutaUsuarios)
            .then(function (respuestaUsuarios) {
                //traigo los datos de mis mascotas para poder organizarlos
                const usuarios = respuestaUsuarios.data;
                //aca creo una variable en la que pasare los datos que 
                //necesito en mi html, en este caso el ID y el nombre de la mascota
                //para que tengan relacion con la cita
                //lo inicializo vacio porque abajo en el for lo voy a llenar
                let miHtml3 = '';
                console.log('usuarios', usuarios)
                //Este es el for en el cual voy a recorrer mi array de clientes y en el cual
                //solamente pasare el id y el nombre

                for (let i = 0; i < usuarios.length; i++) {
                    const usuario = usuarios[i];
                    console.log(usuarios[i])
                    //Aca envio o acomodo en mi variable let solo 2 atributos
                    //el id del cliente y el nombre
                    miHtml3 += '<option value="' + usuario.id + '">' + usuario.nombre + '</option>';
                }

                usuarioCita.innerHTML = miHtml3;
            });

        promesas.push(promesaMascotas, promesaDoctores, promesaUsuarios);

        Promise.all(promesas).then(function () {
            axios.get(rutaCitas)
                .then(function (respuesta) {
                    const citaInfo = respuesta.data;
                    //uso la nomenclatura para remplazar que propuse en mi base de datos  
                    console.log("Las citas", citaInfo)
                    //  
                    nombreMascota.value = citaInfo.mascotas_id;
                    nombreDoctor.value = citaInfo.doctores_id;
                    estadoCita.value = citaInfo.estado;
                    fechaCita.value = citaInfo.fecha.slice(0, 10);
                    motivoCita.value = citaInfo.motivo;
                    usuarioCita.value = citaInfo.usuarios_id;
                });
        })

        formulario.addEventListener('submit', function (event) {
            // Esto evita que el formulario recargue la página al enviarse
            event.preventDefault();

            axios.put(ruta, {
                mascotas_id: Number(nombreMascota.value),
                doctores_id: Number(nombreDoctor.value),
                usuarios_id: Number(usuarioCita.value),
                estado: estadoCita.value,
                fecha: fechaCita.value,
                motivo: motivoCita.value
            }).then(function (respuesta) {
                alert(respuesta.data.mensaje);
                // También lo mostramos en consola, para validar si quedo bien
                console.log(respuesta.data.mensaje);

                window.location.href = 'http://localhost:3000/app/citas/listar.html'

            })
                // Si hubo un error en la petición, es decir no se hizo bien el proceso
                // mostramos un mensaje de error, tanto en el navegador como en nuestra consola
                .catch(function (error) {
                    alert(error.response.data.error);
                    console.error(error);
                });
        });
    </script>
</body>

</html>